.body {
    padding-top: 40px;
    font-family: 'Corier New', sans-serif;
    text-align: center;
}
.typing {
    display: inline;
}
#typed{
    font-size: 48px;
    letter-spacing: 3px;
}
#target {
    font-size: 48px;
    letter-spacing: 3px;
}
.info {
    color: #ccc;
}
